---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Aman Raj";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Aman Raj Gupta</h1>
    <span class="badge">Web3 Enthusiast</span>
    <h2>About</h2>
   
    <p>
        Hi, I’m Aman Raj Gupta!
        I’m a final-year Computer Science student at ABV-IIITM Gwalior, with a passion for coding and problem-solving.
         I have a strong foundation in Data Structures and Algorithms, and I thrive on tackling challenging coding puzzles. Over the years,
          I’ve developed several full-stack web applications and ventured into building decentralized web3 apps using Solidity.
    </p>
    <p>
        As a full-stack developer, my focus is on optimizing and scaling web infrastructures to deliver high-performance, efficient solutions.
         My curiosity drives me to constantly explore new technologies and approaches, pushing the boundaries of what’s possible in the world of
          software development. 
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="HTML5" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
            <span class="skill-text">HTML5</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="CSS3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
            <span class="skill-text">CSS3</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
            <span class="skill-text">Bootstrap</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg"/>
            <span class="skill-text">C</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"/>
            <span class="skill-text">C++</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
            <span class="skill-text">JavaScript</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Ethers.js" src="https://seeklogo.com/images/E/ethers-logo-D5B86204D8-seeklogo.com.png"/>
            <span class="skill-text">Ethers.js</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Solidity" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/solidity/solidity-original.svg"/>
            <span class="skill-text">Solidity</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Metamask" src="https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg"/>
            <span class="skill-text">Metamask</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Pinata" src="https://avatars.githubusercontent.com/u/47711431?s=200&v=4"/>
            <span class="skill-text">Pinata</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
            <span class="skill-text">React</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Redux" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg"/>
            <span class="skill-text">Redux</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"/>
            <span class="skill-text">NodeJS</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Express" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"/>
            <span class="skill-text">Express</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Firebase" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg"/>
            <span class="skill-text">Firebase</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="SocketIO" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/socketio/socketio-original.svg"/>
            <span class="skill-text">SocketIO</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Hardhat" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/hardhat/hardhat-original.svg"/>
            <span class="skill-text">Hardhat</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Netlify" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/netlify/netlify-original.svg"/>
            <span class="skill-text">Netlify</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
            <span class="skill-text">MySQL</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="MongoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"/>
            <span class="skill-text">MongoDB</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
            <span class="skill-text">GitHub</span>
        </div>
        <div class="skill-item">
            <img class="skills__img" width="46" height="46" alt="Postman" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg"/>
            <span class="skill-text">Postman</span>
        </div>
    </div>
    
    <h2>Interests</h2>
    <p>
        As a software developer, I am deeply passionate about exploring emerging technologies and continuously enhancing my skill set. I thrive on coding with new frameworks, which allows me to create innovative solutions and develop dynamic applications. Networking with industry professionals is essential for sharing knowledge and insights, and it fuels my enthusiasm for collaborating on exciting projects. I have a keen interest in blockchain and cryptocurrency, as these technologies are reshaping the digital landscape and opening new avenues for innovation. Additionally, I focus on mastering full-stack development, enabling me to work seamlessly across the entire application stack, from front-end user interfaces to back-end server logic. Understanding real-time communication protocols further enhances my ability to create responsive applications that deliver engaging user experiences. Ultimately, my interests converge in a relentless pursuit of knowledge and a desire to contribute to transformative projects in the tech industry.
    </p>
</Layout>

